<!--navbar-->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" style="color:#CB212E;font-weight:bold;font-size:25px">Zomato</a>
</nav>
<!--error image-->
<div class="logo">
  <img src="../assets/error.jpg" width="350px" height="300px" style="display:block;margin: 0 auto">
</div>
<div class="col-sm-12 text-center">
  <h1 style="color: #CB212E;">Error</h1>
</div>
<!--button that redirect to home page -->
<div style="margin-top: 2%">
  <button type="submit" value="submit" [routerLink]="['/restaurants']" class="btn btn-outline-danger" style="display: block;margin-left:auto;margin-right:auto;">Refresh</button>
</div>